In [29]:
import numpy as np
import pandas as  pd 
#import warning

In [30]:
ls

 Volume in drive C is Windows-SSD
 Volume Serial Number is AEC7-D6E3

 Directory of C:\Users\nithi\Desktop\GitHub\DE_Airflow\ETL

22-06-2025  12:04    <DIR>          .
22-06-2025  12:14    <DIR>          ..
16-04-2025  19:35            41,715 accounts.csv
16-04-2025  19:35             2,177 products.csv
16-04-2025  19:35           277,144 transactions.csv
               3 File(s)        321,036 bytes
               2 Dir(s)  402,210,988,032 bytes free

In [214]:
a = pd.read_csv("accounts.csv").head()
a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   customer_id  5 non-null      int64
 1   first_name   5 non-null      object
 2   last_name    5 non-null      object
 3   address_1    5 non-null      object
 4   address_2    5 non-null      object
 5   city         5 non-null      object
 6   state        5 non-null      object
 7   zip_code     5 non-null      int64
 8   join_date    5 non-null      object
dtypes: int64(2), object(7)
memory usage: 492.0+ bytes

In [215]:
cus =a.copy()#[['first_name','last_name']]
cus['full_name']=cus['first_name']+' '+cus['last_name']
#cus.drop('customer_id',axis=1, inplace=True)
cus.rename(columns = {'customer_id':'ext_cus_id'},inplace=True)
cus['ext_cus_id']=cus['ext_cus_id'].astype(int)#.str.strip()
cus['address'] = cus['address_1'] +' '+cus['address_2']+' '+cus['city']+' '+cus['state']+' '+str(cus['zip_code'])
cus['cust_id']=['GL'+str(i) for i in range(1000000000,1000000000+len(cus))]
cus.head()

,ext_cus_id,first_name,last_name,address_1,address_2,city,state,zip_code,join_date,full_name,address,cust_id
0,1000,Camila,Oliveira,2977 Rua do Comércio,Apto 124,Belo Horizonte,RS,66366,2022-03-17,Camila Oliveira,2977 Rua do Comércio Apto 124 Belo Horizonte R...,GL1000000000
1,1001,Thiago,Lima,428 Avenida Brasil,Apto 173,Belo Horizonte,RS,85305,2022-09-06,Thiago Lima,428 Avenida Brasil Apto 173 Belo Horizonte RS ...,GL1000000001
2,1002,Aline,Oliveira,8687 Alameda dos Anjos,Apto 382,Salvador,BA,58878,2022-07-30,Aline Oliveira,8687 Alameda dos Anjos Apto 382 Salvador BA 0 ...,GL1000000002
3,1003,Aline,Cardoso,8676 Rua do Comércio,Apto 229,Curitiba,DF,24338,2024-12-16,Aline Cardoso,8676 Rua do Comércio Apto 229 Curitiba DF 0 ...,GL1000000003
4,1004,Fernanda,Costa,2701 Avenida Brasil,Apto 486,Brasília,RS,34158,2023-10-14,Fernanda Costa,2701 Avenida Brasil Apto 486 Brasília RS 0 ...,GL1000000004

# Working on products

In [216]:
p = pd.read_csv("products.csv").head()
p.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   product_id           5 non-null      int64
 1   product_code         5 non-null      object
 2   product_description  5 non-null      object
dtypes: int64(1), object(2)
memory usage: 252.0+ bytes

# Working on transactions

In [217]:
t = pd.read_csv("transactions.csv").head()
t['transaction_id']=range(1,len(t)+1)
t.rename(columns = {'account_id':'ext_cus_id'},inplace=True)
t.head()

,transaction_id,transaction_date,product_id,product_code,product_description,quantity,ext_cus_id
0,1,2024-04-14,217,30,Produto G748,1.0,1114
1,2,2025-01-04,264,11,Produto P61,11.0,1000
2,3,2023-01-23,253,36,Produto S238,9.0,1057
3,4,2024-09-14,229,17,Produto N361,4.0,1167
4,5,2024-01-04,284,48,Produto C512,15.0,1298

In [218]:
cus.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ext_cus_id  5 non-null      int32
 1   first_name  5 non-null      object
 2   last_name   5 non-null      object
 3   address_1   5 non-null      object
 4   address_2   5 non-null      object
 5   city        5 non-null      object
 6   state       5 non-null      object
 7   zip_code    5 non-null      int64
 8   join_date   5 non-null      object
 9   full_name   5 non-null      object
 10  address     5 non-null      object
 11  cust_id     5 non-null      object
dtypes: int32(1), int64(1), object(10)
memory usage: 592.0+ bytes

In [219]:
t.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   transaction_id       5 non-null      int64
 1   transaction_date     5 non-null      object
 2   product_id           5 non-null      int64
 3   product_code         5 non-null      int64
 4   product_description  5 non-null      object
 5   quantity             5 non-null      float64
 6   ext_cus_id           5 non-null      int64
dtypes: float64(1), int64(4), object(2)
memory usage: 412.0+ bytes

In [220]:
t['ext_cus_id']=t['ext_cus_id'].astype(int)#.str.strip()
t['quantity']=t['quantity'].astype(int)#.str.strip()
t_m = pd.merge(t,cus[['ext_cus_id','cust_id']] , on='ext_cus_id'  , how='inner' )
t_m.head()
#t_m[cus.columns,''].head()

,transaction_id,transaction_date,product_id,product_code,product_description,quantity,ext_cus_id,cust_id
0,2,2025-01-04,264,11,Produto P61,11,1000,GL1000000000